.row-fluid.leaderboard
  .span12 
    %title Leaderboard
    .span2
    .span8.my-container
      %table.pretty
        %tr
          %th= sortable "name"
          %th= sortable "time_left"
        -@leaders.each do |leader|
          %tr
            %td= leader.name
            %td= leader.time_left
        =#will_paginate @leaders
        -#@leaders.each do |leader|
          .user
            .name
              =leader.name
            .remaining
              ="#{leader.time_left} weeks left"
          %br
    .span2
