.row-fluid.leaderboard
  .span12 
    %title Leaderboard
    .span1
    .span10.my-container
      %ul.inline.leaders-list-options
        %li Sort by:
        %li.leaders-sort= sortable "name"
        %li.leaders-sort= sortable "time_left"
        %li.leaders-sort= sortable "completion_time"
        %li
        %li Options:
        %li
          %span.leaders-hide-by
            %ul.inline
              -if params[:facebook] == "yes"
                %li
                  = link_to ({:completed => params[:completed], :sort => params[:sort], :order => params[:order]}) do 
                    = succeed "Show only Facebook friends" do
                      %i.icon-check
              -else
                %li
                  = link_to ({:facebook => "yes", :completed => params[:completed], :sort => params[:sort], :order => params[:order]}) do 
                    = succeed "Show only Facebook friends" do
                      %i.icon-check-empty
              -if params[:completed] == "yes"
                %li
                  = link_to ({:facebook => params[:facebook], :sort => params[:sort], :order => params[:order]}) do 
                    = succeed "Show only released convicts" do
                      %i.icon-check
              -else
                %li
                  = link_to ({:completed => "yes", :facebook => params[:facebook], :sort => params[:sort], :order => params[:order]}) do 
                    = succeed "Show only released convicts" do
                      %i.icon-check-empty
                   
        %li= will_paginate @leaders
      -@leaders.each_with_index do |leader, index|
        .listuser.span11
          .remaining.span1
            -if params[:page]
              ="#{10*params[:page].to_i+index + 1}."
            -else  
              ="#{index + 1}."
          %ul.inline.leader-name.span4
            %li= image_tag(@graph.get_picture(leader.uid))
            %li= leader.name
          .remaining.span3
            ="#{leader.time_left} weeks left"
          .remaining.span4
            -if leader.completion_time
              ="Released in #{leader.completion_time} weeks"
