%p#notice= notice

%p
  %b Level:
  = @stage.level
%p
  %b Name:
  = @stage.name

.games
  -@games.each do |game|
    .game
      =link_to "#{User.opponent_name(game.opponent, current_user)} challenged you!", game


= link_to 'Back', stages_path

%br

=link_to "Create game", new_game_path(:level => @stage.level)
