%p#notice= notice

%p
  %b Level:
  = @stage.level
%p
  %b Name:
  = @stage.name

-@stage.games.each do |game|
  =link_to game.id, game


= link_to 'Edit', edit_stage_path(@stage)
\|
= link_to 'Back', stages_path

%br

=link_to "Create game", new_game_path(:level => @stage.level)
