%p#notice= notice


.row-fluid
  .middle-panel.backpic.span12
    .span6
      .game-description
        .my-container.description-container
          .description
            .level{:id => @stage.level}
              %b Level:
              = @stage.level
            %p
              %b Location:
              = @stage.name


            %p
              %b Description:
              = @stage.description

        /%p.description You are serving soup to your fellow inmates.  You have the choice to give either the “good” stuff, or the “standard.”  Your cellmate is serving bread next to you - and he faces the same choices.  Remember that you will provide him with soup, and he will provide you with bread.  If you both give each other the “good” stuff, you both stand to benefit and knock off 3 months from your sentence. If you shaft him with the standard (keeping the good stuff for yourself), and he gives you the good stuff, you stand to knock off 5 months, while he gains 2 months (and vice versa if you give good, and he gives you standard).  Finally, if you both screw each other over with the standard food, nothing changes and no time is added or subtracted from your sentences.  

    .span6
      .my-container.invite
        .searchbox
          -if @stage.level > 1
            Find an inmate
            =render :partial => "games/new", :locals => {:game => @game, :stage => @stage}
        .pending-games
          %p Inmates waiting for your response
        .games
          -@games.each do |game|
            -opponent = User.opponent_name(game.opponent, current_user)
            -if @stage.level > 1
              -@picture = @graph.get_picture(game.opponent.uid)
            .game{:id => game.id}
              =render :partial => "games/game", :locals => {:picture => @picture, :game => game, :opponent => opponent}

= link_to 'Back', stages_path
