%p#notice= notice

%p
  %b Level:
  = @stage.level
%p
  %b Name:
  = @stage.name

.games
  -@games.each do |game|
    .game
      =link_to "#{User.opponent_name(game.opponent, current_user)} challenged you!", game


= link_to 'Back', stages_path

%br

=link_to "Create game", new_game_path(:level => @stage.level)
-# %h1
  -# Game
  -# =@game.id
-# 
-# .middle_panel.row-fluid
  -# .span12
    -# .invite.span3
      -# .searchbox
      -# .live_people
        -# Opponent:
        -# =@opponent
    -# .game_description.span4
-#     
      -# =image_tag("Kitchen.jpg")
    -# .waiting_games.span3
      -# .info
        -# Opponent:
        -# =@opponent
      -# .respond
        -# =link_to "Betray", game_respond_path(@game, :strategy => true), :method => :put
        -# =link_to "Don't Betray", game_respond_path(@game, :strategy => false), :method => :put
-# .controls.row-fluid
  -# =link_to "Back to games", games_path