<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>Prisoner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "application", "token-input" %>
  <%= javascript_include_tag "jquery.tokeninput" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <%= link_to "Prisoner", root_path, {:class => "brand"} %>
      <%= link_to "fail", asdfasdfasdf_path, {:class => "failure"} %>
      <ul class="nav">
        <% if current_user %>
          <li>
            <%= link_to current_user.name, current_user, class: "current_user", id: current_user.id %>
          </li>
          <li>
            <%= link_to "Leaderboards", leaderboard_path %>
          </li>
          <li>
            <%= link_to image_tag("small-facebook-icon.png") + " Invite your Facebook Friends","#",:id=>"invite_fb_friends"%>
          </li>
           <li>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          </li>
       <% else %>
          <li>
            <%= link_to image_tag("small-facebook-icon.png") + " Sign in with Facebook", "#", id: "sign_in" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="alert alert-error">
    The site will be going down for a short maintenance at 12pm (noon) EST.  It should be up within 20 minutes. Thank you for your patience
  </div>

  <% if flash[:notice] %>
    <div class="notice alert alert-error">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>

  </br>
  <div class="about" style="text-align:center;">
  <%= link_to "About this site", about_path %>
  </div>
</div>

</body>
</html>
