<!DOCTYPE html>
<html>
<head>
  <title>Prisoner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "application", "token-input" %>
  <%= javascript_include_tag "jquery.tokeninput" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <%= link_to "Prisoner", root_path, {:class => "brand"} %>
      <ul class="nav">
        <% if current_user %>
          <li>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          </li>
          <li>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="notice">
    <%= flash[:notice] %>
  </div>

  <%= yield %>
</div>

</body>
</html>
